
::-webkit-scrollbar {
  display: none;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6dcac;

  }




  
  #menu {
    z-index: 2;
   
  }
  
  #menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
  }
  
  .bar {
    height: 5px;
    width: 100%;
    background-color: #c8344f;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  
  #bar1 {
    transform: translateY(-4px);
  }
  
  #bar3 {
    transform: translateY(4px);
  }
  
  .nav {
    transition: 0.3s ease;
    display: none;
  }
  
  .nav ul {
    padding: 0 22px;
  }
  
  .nav li {
    list-style: none;
    padding: 12px 0;
  }
  
  .nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    font-weight: bold;
  }
  
  .menu-bg, #menu {
    top: 0;
    left: 0;
    position: absolute;
  }
  
  .menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #c8344f, #c8344f);
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .change {
    display: block;
  }
  
  .change .bar {
    background-color: white;
  }
  
  .change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
  }
  
  .change #bar2 {
    opacity: 0;
  }
  
  .change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
  }
  
  .change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%,-30%);
  }
  .intro{
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 5%;
   padding: 2px;
  align-items: center;
  position: absolute;
  top:5%;
  
  
   
  }
 

  
  .img{
    display: flex;
    flex-direction: column;

    height:400px;
    width: 400px;


  }
  .education{
    display: flex;
    flex-direction: column;
    
    position: absolute;
    margin: 5px;
    top:85%;
    padding: 10px;
    margin-left:20px;
    align-content: space-around;
    width: 60%;
    left:5%;
  }
  .school{
    border-top: 6px solid   #f85525;
    padding: 5px;
    border-radius: 20px;
    padding-left: 2%;
    border-bottom: 6px solid #764838;
    
  }
  .interests{
    position: absolute;
    top:162%;
    display: flex;
    flex-direction: column;
    
    
    margin: 5px;

    padding: 10px;
    margin-left:20px;
    align-content: space-around;
   
    left:5%;
  }
 img{
    width:auto;
height: 500px; 
border-radius: 30px;
}
.art1{
    display: flex;
    
   margin: 2%;
   padding: 2%;
  
  
}
.art{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media  screen and (max-width: 500px){
    .intro{
        display: flex;
        flex-direction: column;
       
        
    }
    .education{
        flex-direction: column;
        width:100%;
    
      
       
    }
    .interests{
        flex-direction: column;
    
        padding: 5px;
      
       
    }
    .art{
        display: flex;
        flex-wrap: wrap;
        padding: 5px;
        margin: 10px;
    }
    img{
        width:300px;
        height: auto;
    }
    .contact{
      
    
    
   
     
    }
  }

  .contact{
    position: absolute;
    top:400%;
    display: flex;
      flex-direction: column;
    
    margin: 5px;

    padding: 10px;
 
  margin-left: 30%;
   
   
    left:5%;
  }
    #logo{
      border-radius: 0%;
      height:40px;
       width:auto ;
     }
     .socials{
      display: flex;
      justify-content: space-around;
     
     }
     